$lightTextColor: #333333;

.headerLogo{
  width: 100%;
  background-image: url(../image/banner.jpg);
  background-size: cover;
  height: 250px;
  background-repeat: no-repeat;
}
.socialNetworkBlock
{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  a{
    img{
      height: 75px;
    }
  }
}
.navigationPhoto{
  position: absolute;
  display: inline-block;
}
.navigationArrowPhoto
{
  margin-top: 5px;
  width: 140px;
  height: 180px;
  top: 0
}
.hihgtScrollerBar{
  height: 190px;
  overflow: hidden;
  .photoSlider{
    width: 100%;
    height: 209px;
    overflow: auto;
    white-space: nowrap;
    .photoSliderItem{
      display: inline-block;
      text-align: center;
      text-decoration: none;
      img{
        margin: 5px;
      }
    }
  }
}
footer p{
  text-align: center;
  color: $lightTextColor;
}
.image_cursor_pointer
{
  cursor: pointer;
}
