<div ng-controller="HomeController">
    <header class="container">
        <div class="headerLogo"></div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p class="text-center">Welcome!</p>
                <p>Hello, my name is Julia G. / misTery.</p>
                <p>
                    I’m an illustrator delighted with watercolors, fairy stories and ornaments. I’m working on my own
                    projects and also doing commissions for clients from around the world. My main goal is to create an
                    art that really embodies their ideas. In my work I use digital tools as good as traditional media
                    (vector illustration, watercolor, graphic).
                </p>
                <p>
                    You can check my complete portfolio on Behance.
                </p>
                <p>
                    You can also find more of my pictures and the process of their creation on different social media -
                    Instagram, Facebook, Dribbble.
                </p>
                <p>
                    You can buy a license for some of my illustrations on Shutterstock and CreativeMarket.
                </p>
                <p>
                    You can also buy postcards and various cute little things with my illustrations in this shop.
                </p>
            </div>
            <div class="col-md-3">
                <div class="socialNetworkBlock" ng-repeat="item in socialNetwork">
                    <a ng-href="{{item.link}}">
                        <img ng-src="{{item.img}}">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <p class="text-center">
                    If you like my work, or you are interested in cooperation, please feel free to contact me:
                </p>
                <p class="text-center">
                    <a href="mailto:mistery.contacts@gmail.com" class="btn btn-warning btn-lg text-center">Email MisTery</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="navigationPhoto carousel slide pull-left navigationArrowPhoto">
                    <a class="left carousel-control" role="button" ng-click="scrollLeft()">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                </div>
                <div class="hihgtScrollerBar">
                    <div class="photoSlider">
                        <div class="photoSliderItem" ng-repeat="img in imageArray" ng-click="openPhoto($index)">
                            <img ng-src="{{img}}" height="180">
                        </div>
                    </div>
                </div>
                <div class="navigationPhoto carousel slide pull-right navigationArrowPhoto" style="right: 15px;">
                    <a class="right carousel-control" role="button" ng-click="scrollRight()">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Modal window start-->
    <div class="modal fade customModalWindows" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document" ng-keyup="changeIndex($event)" tabindex="0">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <a ng-href="" href="" ng-click="nextPhoto()"> <img ng-src="{{imageUrl}}" class="img-responsive image_cursor_pointer"></a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal windows end-->
    <footer>
        <p>© 2017 by MisTery</p>
    </footer>
</div>
